{% extends "template.html" %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center">About Us</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-fluid">
        <div id="frame_container" class="row">
        </div>
        <hr>

        <div class="row mb-1">
            <p class="d-flex mx-auto lead text-danger"><strong>Krishna Dave </strong></p>
        </div>
        <div class="row mb-5">
            <p class="d-flex mx-auto lead text-danger">Carnegie Mellon – Mech Eng, Public Policy, Computer Science</p>
        </div>

        <div class="row mb-1">
            <p class="d-flex mx-auto lead text-danger"><strong>Sasha Farzin-Nia </strong></p>
        </div>

        <div class="row mb-5">
            <p class="d-flex mx-auto lead text-danger">University of Birmingham – Mathematics</p>
        </div>

        <div class="row mb-1">
            <p class="d-flex mx-auto lead text-danger"><strong>Ziyao Li </strong></p>
        </div>

        <div class="row mb-5">
            <p class="d-flex mx-auto lead text-danger">University of California, Irvine - Mathematics</p>
        </div>

        <div class="row mb-1">
            <p class="d-flex mx-auto lead text-danger"><strong>Yuxiu Zheng</strong></p>
        </div>

        <div class="row mb-5">
            <p class="d-flex mx-auto lead text-danger">UCLA – Applied Mathematics</p>
        </div>

        
    </div>
</div>
{% endblock %}
{% block custom_js %}

{% endblock %}