{% extends "template.html" %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center">Future Work</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-fluid">
        <div id="frame_container" class="row">
        </div>
        <hr>

        <div class="row mb-2">
            <p class=""><strong>1.</strong> Deploy the Flask App on Cloud.</p>
        </div>

        <div class="row mb-2">
            <p class=""><strong>2.</strong> Add a user temperature checker to the CV.</p>
        </div>

        <div class="row mb-2">
            <p class=""><strong>3.</strong> Add COVID vaccine card CV model as well.</p>
        </div>

        <div class="row mb-2">
            <p class=""><strong>4.</strong> Test model’s ability to distinguish between wearing a mask and covering the face with something that has similar appearance to the former, such as covering the face with a bandana or a veil.</p>
        </div>

    </div>
</div>
{% endblock %}
{% block custom_js %}

{% endblock %}