{% extends "template.html" %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center">References</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-fluid">
        <div id="frame_container" class="row">
        </div>
        <hr>
        <div class="row mb-5">
        </div>

        <div class="row mb-1">
            <p class="">[1] </p>
            <a href="https://www.kaggle.com/sumansid/facemask-dataset">Kaggle Face Mask Dataset</a>
        </div>

        <div class="row mb-1">
            <p class="">[2] </p>
            <a href="https://paperswithcode.com/dataset/imagenet">ImageNet Data Set</a>
        </div>

        <div class="row mb-1">
            <p class="">[3] </p>
            <a href="https://towardsdatascience.com/covid-19-face-mask-detection-using-tensorflow-and-opencv-702dd833515b">TensorFlow and OpenCV Resources</a>
        </div>

        <div class="row mb-1">
            <p class="">[4] </p>
            <a href="https://www.youtube.com/watch?v=Ax6P93r32KU">YouTube Tutorial - Face Mask Detection using Python, Keras, OpenCV and MobileNet</a>
        </div>

        <div class="row mb-1">
            <p class="">[5] </p>
            <a href="https://keras.io/api/applications/mobilenet/">MobileNet Model Keras API</a>
        </div>

        <div class="row mb-1">
            <p class="">[6] </p>
            <a href="https://arxiv.org/abs/1704.04861">Research Paper on MobileNets: Efficient Convolutional Neural Networks for Mobile Vision Applications</a>
        </div>

        <div class="row mb-1">
            <p class="">[7] </p>
            <a href="https://towardsdatascience.com/build-and-run-a-docker-container-for-your-machine-learning-model-60209c2d7a7f">Building and Running a Docker Container For ML Model</a>
        </div>

        <div class="row mb-1">
            <p class="">[8] </p>
            <a href="https://www.geeksforgeeks.org/deploy-machine-learning-model-using-flask/">Deploying Machine Learning Model using Flask</a>
        </div>

        <div class="row mb-1">
            <p class="">[9] </p>
            <a href="https://github.com/GalileoParise/CV-Mask-detection">Template for the Facemask Detection Web App</a>
        </div>

    </div>
</div>
{% endblock %}
{% block custom_js %}

{% endblock %}